{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Spaceballs: The Search Engine</title>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" type="text/css">
</head>

<body>
    <div class='header'>
        <h1><a href='/'>Spaceballs: The Search Engine</a></h1>
        <div class='form'>
            <form action='/' method='POST'>
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Search"/>
            </form>
        </div>
    </div>

    <div class='content'>
        {% if quotes %}
        <div class='quotes'>
            <p>Found {{ quotes|length }} quotes</p>
            <ul>
            {% for quote in quotes %}
                <li>{{ quote }}</li>
            {% endfor %}
            </ul>
        </div> 
        {% else %}
        <div class='noquotes'>
            {% if first_visit %}
                <p>Select a character, and enter the quote as you remember it</p>
                <p>And may the schwartz be with you!</p>
            {% else %}
                <p>No quotes found :(</p>
            {% endif %}
        </div>
        {% endif %}
        
    </div>


    <div class="footer">
        <span class="footer-social">
            <a class="github-button" href="https://github.com/RedSkyHarbor" data-show-count="true" aria-label="Follow @RedSkyHarbor on GitHub">Follow @RedSkyHarbor</a>
            <a class="github-button" href="https://github.com/RedSkyHarbor/spaceballs-script-search-engine" data-icon="octicon-star" data-show-count="true" aria-label="Star RedSkyHarbor/spaceballs-script-search-engine on GitHub">Star</a>
            <a href="https://twitter.com/CodingSteez?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @CodingSteez</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </span>
        <div class="footer-credits">
            <span class="footer-credit">Created and maintained by <a href="https://codesteez.com/">Code Steez</a>.</span> <span class="footer-credit">Source code released under the MIT license.</span> <span class="footer-credit">Website and documentation licensed under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.</span>
        </div>
    </div>
</body>

</html>