<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Homepage | Spaceballs Search Engine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <div class='header'>
        <h1><a href='/'>Spaceballs Search Engine</a></h1>
    </div>
    
    <div class='form'>
        <form action='/' method='POST'>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Search"/>
        </form>
    </div>

    <div class='quotes'>
    {% if quotes %}
        <p>Found {{ quotes|length }} quotes</p>
        <ul>
        {% for quote in quotes %}
            <li>{{ quote }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No quotes found</p>
    {% endif %}
    </div>
</body>

</html>