p {
    margin-left: 20px;
}

h1 a {
    color: white;
    font-family: 'FederationHull';
    font-size: 24pt;
}

a:hover {
    color: white;
}

.header {
    background: #4B79A1;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #283E51, #0A2342);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #283E51, #0A2342); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: -olinear-gradient(to top, #283E51, #0A2342); 
    padding: 20px 20px 20px 40px;
    letter-spacing: 5px;
    text-align: center;
}

.form {
    margin-top: 20px;
    margin-left: 40px;
    text-align: center;
}

.quotes {
    text-align: left;
}

.quotes p {
    margin-top: 20px;
    text-align: center;
}

li:nth-child(odd) {
    background-color: #eee;
}